.navbar{
  background: linear-gradient(to right,#8360c3,#2ebf91);
  width: 100%;
  height: 8vh;
  display: grid;
  grid-template-columns: 61% 12% 12% 15%;
  /* position: fixed; */
  color: white;
}
.navbar img{
  height: 60px;
  width: 60px;
  animation: rotate;
  animation-duration: 3s;
  animation-iteration-count: 1;
  margin-right: 0.5vw;
  position: relative;


}
@keyframes rotate{
  0%{
    
  }
  100%{
    rotate: 360deg;
  }
}

.navbar-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  font-weight: 550;
}

.navbar-box:nth-child(1){
  justify-content: left;
  padding-left: 1vw;
  font-size: 2vw;
  font-weight: 600;
}
.navbar-box:nth-child(2) p{
  background-color: purple;
  padding: 1.2vh 0.8vw;
  /* border: 2px solid rgb(0, 0, 0); */
  border-radius: 15px;
  box-shadow: 0 0 15px purple;
}
.navbar-box:nth-child(2) p:hover{
  background-color: purple;
  
}

.navbar-box:nth-child(4){
  border-right: none;
}

.navbar a{
  /* cursor: pointer; */
  color: inherit;
  text-decoration: none;
}
#websiteName{
  font-family: Monument Extended;
}
.navbar p{
  cursor: pointer;
}
.navbar p:hover{
  scale: 1.1;
}





.footer{
  height: 14vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,#8360c3,#2ebf91);
}

.footer .text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span{
  margin-left: 0.4vw;
  font-family: Monument Extended;
  font-size: 2.5vh;
  margin-top: 0.5vh;
}

.footer .icons{
  text-align: center;
  padding: 0.5vh;
}

.footer .icons i{
  font-size: 3vh;
  padding: 1vh;
  cursor: pointer;
}





.homepage{
  display: flex;
  height: calc(100vh - 22vh);
}

.homepage .content{
  width: 45%;
  padding: 10vh 0vh;
  padding-left: 5vh;
  font-family: Gilroy;
}

.homepage .content :nth-child(2){
  margin-left: 5%;
}

.homepage .content :nth-child(3){
  font-family: Monument Extended;
  margin-left: 10%;
  font-size: 6vh;
  color: #8360c3;
}

.homepage h3{
  margin-top: 4vh;
  font-style: italic;
  font-family: Monument Extended;
}

.homepage .arrow{
  width: 46vw;
}

.homepage .image{
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.homepage .image img{
  width: 85%;
  object-fit: cover;
  border-radius: 25px;
  scale: 0.9;
  transition: 0.5s;
  
}

.homepage .image img:hover{
  box-shadow: 0px 0px 30px 15px #2ebf91;
  cursor: pointer;
  scale: 1;
  
}





.modal-wrapper{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.58);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
}





.modal{
  background-color:whitesmoke ;
  height: 60%;
  width: 60%;
  display: flex;
  border:3px solid white;
  border-radius:20px;
  overflow: hidden;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
}

.modal .left{
  width: 40%;
  height: 100%;
  /* background-color: red; */
}

.modal .left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modal .right{
  padding: 2vw;
  width: 60%;
}

.modal .icon{
  text-align: end;
  color: gray;
}

.modal .icon i{
  cursor: pointer;
}

.modal .icon i:hover{
  font-size: 15px;
}

.modal h1{
  font-size: 3vw;
}

.modal h3{
  color: gray;
  font-weight: 200;
  margin-bottom: 3vh;
}

.modal form{
  margin-top: 4vh;
}

.modal input{
  height: 6vh;
  width: 100%;
  padding-left: 1vw;
  margin-top: 2vh;
  border: 2px solid rgb(210, 201, 201);
  border-radius: 10px;
}

.modal .btn-2{
  display: flex;
  justify-content: end;
  width: 100%;
}

.modal .btn-2 button{
    height: 6vh;
    width: 150px;
    /* margin-left: 20vw; */
    margin-top: 3vh;
    border: 2px solid #FA26A0;
    background-color: transparent;
    /* color: rgb(220, 7, 232); */
    color: #FA26A0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    z-index: 0;
    transition: all linear 0.5s;
    cursor: pointer;
}

.modal .btn-2 button::after{
  content: "";
  height: 100%;
  width: 0%;
  border-radius: 5px;
  background-color:#FA26A0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all linear 0.5s;
}

.modal .btn-2 button:hover{
  color: white;
}

.modal .btn-2 button:hover::after{
  width: 100%;
}





.pageQuiz{
  min-height:calc(100vh - 22vh);
  color: black;
  display: flex;
  background-color: gainsboro;
}
.pageQuiz .part1{
  width: 40%;
  min-height: calc(100vh - 22vh);
  text-align: center;
  background-color: whitesmoke;
  padding: 10vh;
  font-size: 5vh;
  transition: linear(1s);
}
.pageQuiz .part2{
  width: 60%;
}
.pageQuiz .part1 button{
  /* width: 10%; */
  margin-top: 4vh;
  border-radius: 25px;
  border: 4px solid purple;
  color: white;
  background-color: rgb(21, 19, 19);
  font-size: 60%;
  padding: 1vh 1vw;
}
.pageQuiz .part1 button:active{
  scale: 0.8;
  background-color: purple;
}





.quizModal{
  background-color: gainsboro;
  height: 100%;
  width: 100vw;
  text-align: center;
  padding-top: 5vh;
  justify-content: center;
}
.quizModal h1{
  font-size: 8vh;
  margin-bottom: 5vh;
  text-shadow: 5px 5px 5px purple;
}
.quizModal h3{
  font-size: 6vh;
}
.quizModal .options{
  min-height: 30%;
  display: flex;
  justify-content: center;
  gap: 3vh;
  /* background-color: #8360c3; */
}
.quizModal .options div{
  min-height: 30%;
  width: 20%;
  margin-top: 4vh;
  background-color: #2ebf91;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-size: 3vh;
  cursor: pointer;
}
.quizModal .options div:active{
  background-color: #FA26A0;
}
.quizModal .btn-container{
  /* background-color: #2ebf91; */
  display: flex;
  justify-content: center;
  gap: 1vh;
}

.quizModal .finalResult{
  /* color: purple; */
  margin-top: 3vh;
  /* text-shadow: none; */
}
.quizModal button{
  height: 8vh;
  width: 15vw;
  font-size: 3vh;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid purple;
}
.quizModal button:hover{
  scale: 0.9;
}





.instructions{
  padding: 5vh;
}
.instructions h1{
  font-size: 7vh;
  margin-bottom: 5vh;
}
.instructions h3{
  font-size: 2.7vh;
}

.instructions h3:nth-child(6){
  color: red;
}